# fly.toml app configuration file generated for mrtdown-data on 2025-11-04T23:13:25+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mrtdown-data'
primary_region = 'sin'
swap_size_mb = 512

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = "15s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/healthz"
    protocol = "http"

[env]
  DUCKDB_DATABASE_PATH = 'mrtdown.duckdb'
  SENTRY_ENVIRONMENT = 'production'
  NODE_OPTIONS = '--enable-source-maps'

[[vm]]
  size = 'shared-cpu-1x'
